@tailwind base;
@tailwind components;
@tailwind utilities;

$black: #212121;
$green: #9ccc65;
$green-dark: #639131;
$green-light: #dcedc8;

html {
    font-size: 100%;
    background-color: $green-light;
    color: $black;

    body {
        @apply mx-auto justify-between p-24;

        button {
            @apply px-5 py-3 mr-2 rounded;
            @apply shadow-md;
            @apply transition duration-150;

            background-color: $green;

            &.btn-sd {
                @apply bg-gray-100;
            }

            &:hover,
            &:disabled {
                @apply text-white;
                background-color: $green-dark;
            }

            &:focus {
                background-color: $green;
            }
        }
        form {
            @apply max-w-lg my-2 p-3;
            @apply border-2 rounded-lg;
            @apply shadow-md;

            border-color: $green-dark;

            label {
                @apply block mb-2 w-full;
            }

            input {
                @apply block w-full rounded px-2 py-2;
                @apply border-gray-50;
                @apply shadow-md;

                &:focus {
                    outline-color: $green-dark;
                }
            }

            .error-message {
                @apply h-4 text-xs mt-1;
                @apply text-red-500;
            }
        }

        .footer-hero {
            @apply border-dashed border-2 rounded-md m-2 p-1;
            @apply transition duration-75;
            border-color: $green-dark;

            &:hover {
                @apply border-solid;
            }
        }
    }
}
